<app-header></app-header>

<!--Main Navigation-->
<header class="intro-header">


  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.1}' style="background-image: url(assets/images/msb.jpg);background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="hello">
              <br>
              <h1 class="h1 h1-reponsive white-text  font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>ALUMNI
                  </strong></h1>
              <hr class="hr-light  wow fadeInDown" data-wow-delay="0.7s">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<!-- ------------------------------------------------------------- -->



<!-- ---------------------------------------------------------------------------- -->

<div class="container mt-5">


  <!--Section: Content-->
  <section class="dark-grey-text">

  	<div class="card">
      <div class="card-body">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 mb-4">

                  <div class="list-group">
                    <ul class="list-group">
                      <li class="list-group-item orange darken-3 text-center">Career center</li>

                    </ul>
                    <button  routerLink="/home/mission" type="button" class="list-group-item list-group-item-action ">OUR MISSION</button>
                    <button  routerLink="/home/vision" type="button" class="list-group-item list-group-item-action ">OUR VISION</button>
                    <button routerLink="/home/students"  type="button" class="list-group-item list-group-item-action">STUDENTS</button>
                    <button routerLink="/home/alumni"  type="button" class="list-group-item list-group-item-action">ALUMNI</button>
                  </div>
                  <!--/.Card-->



                </div>
          <div class="col-lg-7  justify-content-left">


              <!--Section: Content-->


                <!--Grid row-->

                  <!--Grid column-->

                    <!-- Default form subscription -->
                      <h1>Career Services</h1>
                       <p class="  justify-content">As an SMU graduate, you have access to various services provided by the SMU Career Center to boost your career progress, expand your professional network, and sharpen your skills.</p>
                      <h3>EVENTS & ANNOUNCEMENTS</h3>
                       <p class="  justify-content">Alumni are welcome to attend the annual SMU Career Fair that takes place on campus. This is a great opportunity for our current and former students, to learn about job and internship opportunities offered by our large network of corporate partners. As an alumnus, you are also invited to attend interesting presentations delivered by experts and professionals in the business world throughout the event. These presentations enable you to learn about the latest market trends and the most recent evolution and changes in both the local and international markets.</p>
                       <h3>UPCOMING EVENTS</h3>
                      <p class="  justify-content">Learn about our upcoming events and register here [link]</p>
                      <h3>CAREER ADVISING</h3>
                      <p class="  justify-content">Former students maintain full access to career advising services, you simply need to make an appointment with an SMU Career Center advisor at careerservices@smu.tn</p>

                      <p class="  justify-content">Access to Courses</p>
                      <P>Access to Alumni Network</P>
                      <p class="  justify-content">(Post contacts, CV, and linkedin profile)</p>
                      <h3>ACCESS TO JOBS AND INTERNSHIPS POSTING
                      </h3>
                      <p class="  justify-content">Relying on its extensive corporate network, the SMU Career Center regularly sends new job opportunities to the alumni community..</p>
                      <h3>MEMBERSHIP CARD</h3>
                      <p>The SMU Career Center is currently working on a membership card program for our alumni. The card would give them access to numerous advantages, such as a privileged discount on our executive programs tuition fees, free access to the SMU Library, special rates for room rentals, etc.
                        Further details to be announced soon.</p>
                      <h1>Alumni Giving</h1>
                      <p class="  justify-content">The SMU Career Center believes in the importance of peer-to-peer knowledge sharing, therefore, alumni are encouraged to give back to their alma mater by helping their fellow students in their next step.
                        As an alumnus/alumna you can provide career advice, share your expertise to inspire current and prospective students by showing how SMU has influenced who you are, coach our current students, give presentations and take an active part in our workshops/events, etc.
                        If you have any proposition, please feel free to fill in the form below.
                        (Link to Google form to make propositions)</p>
                      <h1>Success Stories & Testimonials
                      </h1>
                      <p class="  justify-content">Here you can get to know some of our alumni who took different paths: some have founded their own startups and others have made a great progress in their educational and career journey.
                        (Links to Testimonials of Alumni – UPM/ MBM/EMBA)</p>









          </div>
          <!--Grid column-->

          <!--Grid column-->







          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
<br>
<br>
<app-footer2></app-footer2>
