<app-header></app-header>

<!--Main Navigation-->
<header class="intro-header">


  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(assets/images/class.jpg);background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="hello">
              <br>
              <h1 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>STUDENTS
                  </strong></h1>
              <hr class="hr-light  wow fadeInDown" data-wow-delay="0.7s">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<!-- ------------------------------------------------------------- -->



<!-- ---------------------------------------------------------------------------- -->

<div class="container mt-5">


  <!--Section: Content-->
  <section class="dark-grey-text">

  	<div class="card">
      <div class="card-body">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 mb-4">

                  <div class="list-group">
                    <ul class="list-group">
                      <li class="list-group-item orange darken-3 text-center">Career center</li>

                    </ul>

                    <button  routerLink="/home/mission" type="button" class="list-group-item list-group-item-action ">OUR MISSION</button>
                    <button  routerLink="/home/vision" type="button" class="list-group-item list-group-item-action ">OUR VISION</button>
                    <button routerLink="/home/students"  type="button" class="list-group-item list-group-item-action">STUDENTS</button>
                    <button routerLink="/home/alumni"  type="button" class="list-group-item list-group-item-action">ALUMNI</button>
                  </div>
                  <!--/.Card-->



                </div>
          <div class="col-lg-7  justify-content-left">


              <!--Section: Content-->


                <!--Grid row-->

                  <!--Grid column-->

                    <!-- Default form subscription -->
                      <h1>Workshops</h1>
                       <p class="  justify-content">The SMU career center believes in the importance of workshops delivered to students, which are designed to increase their employability and prepare them for the professional world:</p>
                      <h3>WINNING RESUME & COVER LETTER</h3>
                       <p class="  justify-content">These workshops provide students with the essential skills and knowledge to master the art of writing a successful and professional resume and cover letter. The career center also recommends templates created in collaboration with H.R professors at SMU, to make sure our students are on the right track.</p>
                       <h3>INTERVIEW PREPARATION</h3>
                      <p class="  justify-content">Learn the different techniques to be well prepared for an interview: how to behave professionally, what to expect in an interview, what questions should you ask? etc.</p>
                      <h3>NETWORK</h3>
                      <p class="  justify-content">How to build an effective network to provide the leverage to make you grow professionally. The effective use of the offline and online network to serve your career progression.</p>
                      <h3>E-REPUTATION</h3>
                      <p class="  justify-content">Students learn about the risks as well as the advantages of social media in building their career, in marketing themselves, and in expanding their professional network in order to support their professional journey.</p>
                      <h3>CHOOSING YOUR MAJOR</h3>
                      <p class="  justify-content">It provides SMU Master students with an overview about the different paths in various business fields to help them identify their desired major. Top managers and CEOs are invited to share their experiences and knowledge with our students, to inspire them, and provide them with tips for success.</p>
                      <h3>ENTREPRENEURSHIP</h3>
                      <p class="  justify-content">Entrepreneurs share their entrepreneurship journey and present the key factors of success as well as the challenges and difficulties encountered during the creation process.</p>
                      <h1>Career Advice & Guidance</h1>
                      <p class="  justify-content">This service is tailored to assist the needs of SMU students on a one-on-one basis. Students are welcomed to approach the career center during office hours to answer their questions.
                        Students who are unable to come during office hours are invited to make an appointment by sending an email to careeroffice@smu.tn</p>
                      <h1>Career Fairs</h1>
                      <p class="  justify-content">The career center organizes an annual job fair that our students are encouraged to attend, since it represents a unique opportunity for exposure to job/internship offers, to build a professional network, and to be up-to-date with market trends.</p>
                      <h1>Internships </h1>
                      <p class="  justify-content">The SMU Career Center operates within an important network of business professionals and is continuously working on establishing partnerships with new organizations. This way, it offers students a wider range of internships, summer jobs, and career opportunities.
                        As part of students’ curricula, internships are mandatory and allow students to progressively increase their knowledge of the operations of an organization in its competitive environment.</p>
                      <h3>PRE-ENGINEERING INTERNSHIPS
                      </h3>
                      <p class="  justify-content">During their Pre-Engineering program, Students are required to complete a 4 to 8-week internship,  usually during the summer breaks in a functional area of business (i.e. IT,) within an organization.</p>
                      <h3>THE OBJECTIVES OF THE INTERNSHIP ARE:
                      </h3>
                      <p>Develop an understanding of the operation of a company or an organizationDescribe a real-world problem encountered by the company and report on how it has been solved or how it can be solved.</p>
                       <p> Develop oral and written communication and reporting skills.</p>
                       <p> Develop teamwork and interpersonal skills.</p>
                       <h1>ENGINEERING INTERNSHIPS          </h1>
                       <p>An internship is also required during the third year. This internship is typically related to the specialization chosen by the student. During their capstone project, students engage in a longer term internship of about 9 months in a functional area of business (i.e.) within an organization.</p>
                      <p>The aim of the internship is to make the student work on a strategical project and have a value added in terms of operational recommendations for the company.</p>
                      <h3>THE OBJECTIVES OF THE INTERNSHIP ARE:
                      </h3>
                      <p>Apply the knowledge and skills the student acquired at MedTech</p>
                      <p>Develop an understanding of a technology (process or tool) and how it is applied and used in a production/development environment.</p>
                      <p>Widen the student’s knowledge of his field and related sectors</p>
                      <p>Prepare the graduate’s integration into the professional world.
                      </p>









          </div>
          <!--Grid column-->

          <!--Grid column-->







          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
<br>
<br>
<app-footer2></app-footer2>
