<app-header></app-header>

<!-- ---------------------------------------- -->
<div class="container my-5">
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">


      <!-- Section: Block Content -->
      <section>

        <!-- Card -->
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class="card-up warning-color-dark p-3 white-text">
              <p class="font-weight-normal mb-0">Tommy Westwood</p>
              <p class="small mb-0">JavaScript Developer</p>
            </div>

            <!-- Avatar -->
            <div class="avatar mx-auto white">
              <img src={{image}} class="rounded-circle" alt="woman avatar">
            </div>

            <!-- Content -->
            <div class="card-body px-3 py-4">
              <div class="row">
                <div class="col-4 text-center">
                  <p class="font-weight-bold mb-0">{{name}}</p>
                  <p class="small text-uppercase mb-0">Sales</p>
                </div>
                <div class="col-4 text-center border-left border-right">
                  <p class="font-weight-bold mb-0">{{email}}</p>
                  <p class="small text-uppercase mb-0">Followers</p>
                </div>
                <div class="col-4 text-center">
                  <p class="font-weight-bold mb-0">CV</p>
                  <p class="small text-uppercase mb-0">Products</p>
                </div>
              </div>

            </div>

          </div>
          <!-- Card -->

      </section>
      <!-- Section: Block Content -->


    </div>
  </div>
</div>
<!-- ----------------------------------------------------------- -->
<div class="container py-3 my-3">
  <section class="p-md-5 mx-md-5 text-center text-lg-left grey z-depth-2"
    style="background-image: url(https://mdbootstrap.com/img/Photos/Others/background.jpg);">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
        <div class="card z-depth-5">
          <div class="card-body m-3 ">
            <div class="row ">
              <div class="col-lg-6 d-flex mb-2 align-items-center">
                <div class="avatar mx-4 w-100 white d-flex justify-content-center align-items-center">
                  <img src={{image}} class="rounded-circle img-fluid z-depth-1" alt="woman avatar">
                </div>
              </div>
              <div class="col-lg-6">
                <h1 class="font-weight mb-3"><strong>{{name}}</strong></h1>
                <hr>
                <ul class="list-unstyled font-small mt-5 mb-0">
                  <li >
                    <span class="fa-li"><i class="fas fa-address-card fa blue-text mx-2"></i></span>

                    <h2 class="text-uppercase mb-2"><strong>EMAIL</strong></h2>
                    <p class="text-muted mb-4"><strong>{{email}}</strong></p>
                  </li>


                  <li>
                    <h2 class="text-uppercase mb-2"><strong>STUDY</strong></h2>
                    <p class="text-muted mb-4"><strong>MEDTECH</strong></p>
                  </li>

                  <li>
                    <h2 class="text-uppercase mb-2"><strong>CV</strong></h2>
                    <p class="text-muted mb-4"><strong>TW YETADDA</strong></p>
                  </li> </ul>

                <p class="font-weight-bold lead mb-2"><strong>Anna Smith</strong></p>
              	<p class="font-weight-bold text-muted mb-0">Product manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- ------------------------------------------------------------------>
<div class="container unique-color w-75 h-50 my-5">

  <section >

    <div class="card mb-2  blue lighten-5 ">

      <div class="row">

        <div class="col-lg-5">
          <img class="img-fluid  mx-5 my-5 rounded-left w-100" src="{{image}}" alt="project image">
        </div>

        <div class="col-lg-4 p-5  align-self-center">

          <h1 class="font-weight text-center mb-3"><strong>{{name}}</strong></h1>

          <p class="text-muted">Out or geared it but to best up samples the for she phase of copy would do in divine
            of taken and the take medical or upper at him in the logbook were, we price his mostly to commas.</p>

          <ul class="list-unstyled font-small mt-5 mb-0">
            <li>
              <h2 class="text-uppercase mb-2"><strong>EMAIL</strong></h2>
              <p class="text-muted mb-4"><strong>{{email}}</strong></p>
            </li>

            <li>
              <h2 class="text-uppercase mb-2"><strong>STUDY</strong></h2>
              <p class="text-muted mb-4"><strong>MEDTECH</strong></p>
            </li>

            <li>
              <h2 class="text-uppercase mb-2"><strong>CV</strong></h2>
              <p class="text-muted mb-4"><strong>TW YETADDA</strong></p>
            </li>



          </ul>

        </div>

      </div>

    </div>

  </section>

</div>
<!-- --------------------------------------------- -->

<div class="container my-5">


  <!-- Section: Block Content -->
  <section>

    <div class="row">
      <div class="col-12">
      	<div class="card card-list">
          <div class="card-header white d-flex justify-content-between align-items-center py-3">
            <p class="h5-responsive font-weight-bold mb-0">Last Orders</p>
            <ul class="list-unstyled d-flex align-items-center mb-0">
              <li><i class="far fa-window-minimize fa-sm pl-3"></i></li>
              <li><i class="fas fa-times fa-sm pl-3"></i></li>
            </ul>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Order ID</th>
                  <th scope="col">Item</th>
                  <th scope="col">Status</th>
                  <th scope="col">Popularity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"><a class="text-primary">OR9842</a></th>
                  <td>Call of Duty IV</td>
                  <td><span class="badge badge-success">Shipped</span></td>
                  <td class="pt-2 pb-0"><canvas id="bar" width="40" height="40"></canvas></td>
                </tr>
                <tr>
                  <th scope="row"><a class="text-primary">OR1848</a></th>
                  <td>Samsung Smart TV</td>
                  <td><span class="badge badge-warning">Pending</span></td>
                  <td class="pt-2 pb-0"><canvas id="bar1" width="40" height="40"></canvas></td>
                </tr>
                <tr>
                  <th scope="row"><a class="text-primary">OR7429</a></th>
                  <td>iPhone 6 Plus</td>
                  <td><span class="badge badge-danger">Delivered</span></td>
                  <td class="pt-2 pb-0"><canvas id="bar2" width="40" height="40"></canvas></td>
                </tr>
                <tr>
                  <th scope="row"><a class="text-primary">OR7429</a></th>
                  <td>Samsung Smart TV</td>
                  <td><span class="badge badge-info">Processing</span></td>
                  <td class="pt-2 pb-0"><canvas id="bar3" width="40" height="40"></canvas></td>
                </tr>
                <tr>
                  <th scope="row"><a class="text-primary">OR1848</a></th>
                  <td>Samsung Smart TV</td>
                  <td><span class="badge badge-warning">Pending</span></td>
                  <td class="pt-2 pb-0"><canvas id="bar4" width="40" height="40"></canvas></td>
                </tr>
                <tr>
                  <th scope="row"><a class="text-primary">OR7429</a></th>
                  <td>iPhone 6 Plus</td>
                  <td><span class="badge badge-danger">Delivered</span></td>
                  <td class="pt-2 pb-0"><canvas id="bar5" width="40" height="40"></canvas></td>
                </tr>
                <tr>
                  <th scope="row"><a class="text-primary">OR9842</a></th>
                  <td>Call of Duty IV</td>
                  <td><span class="badge badge-success">Shipped</span></td>
                  <td class="pt-2 pb-0"><canvas id="bar6" width="40" height="40"></canvas></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer white py-3 d-flex justify-content-between">
            <button class="btn btn-primary btn-md px-3 my-0 mr-0">Place New Order</button>
            <button class="btn btn-light btn-md px-3 my-0 ml-0">View All Orders</button>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Section: Block Content -->


</div>
<app-footer2></app-footer2>
