<app-header></app-header>

<!--Main Navigation-->
<header class="intro-header">


  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(assets/images/mission.jpg);background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="hello">
              <br>
              <h1 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>CAREER PASSPORT
                  </strong></h1>
              <hr class="hr-light  wow fadeInDown" data-wow-delay="0.7s">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<!-- ------------------------------------------------------------- -->



<!-- ---------------------------------------------------------------------------- -->

<div class="container mt-5">


  <!--Section: Content-->
  <section class="dark-grey-text">

  	<div class="card">
      <div class="card-body">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 mb-4">

                  <div class="list-group">
                    <ul class="list-group">
                      <li class="list-group-item orange darken-3 text-center">Career center</li>

                    </ul>

                    <button  routerLink="/home/mission" type="button" class="list-group-item list-group-item-action ">OUR MISSION</button>
                    <button  routerLink="/home/vision" type="button" class="list-group-item list-group-item-action ">OUR VISION</button>
                    <button routerLink="/home/students"  type="button" class="list-group-item list-group-item-action">STUDENTS</button>
                    <button routerLink="/home/alumni"  type="button" class="list-group-item list-group-item-action">ALUMNI</button>
                  </div>
                  <!--/.Card-->



                </div>
          <div class="col-lg-7  justify-content-left">


              <!--Section: Content-->


                <!--Grid row-->

                  <!--Grid column-->

                    <!-- Default form subscription -->

                       <p class="h6  justify-content">The career passport is the students’ permit allowing them to acquire the needed competencies for a successful professional career. The SMU CAREER AND ALUMNI CENTER organizes each year a wide variety of events that help integrate our students in the professional world as well as offer them the latest trends in the business world. The career passport keeps track of every event to which the student was present. When reached a certain number of events, the student will be rewarded. The career passport follows the student through their academic journey.</p>

                       <p class="h6  justify-content"> The Career Passport is dedicated to build and follow our students’ path towards success. This passport offers several types of career & academic engagement activities such as workshops and events to enhance their professional advancement.</p>
                       <p class="h6  justify-content"> The Passport also provides an interactive set of support tools to keep our students connected to the global career network helping them make a significant transition from campus-life to the business world.</p>
                       <p class="h6  justify-content"> The Passport offers in-depth knowledge of the professional reality and allows our students to have autonomy on their future professional objectives. The goal is to equip them with skills and knowledge that will enable them to succeed in the competitive, dynamic, and fast evolving business environment.</p>
                       <p class="h6  justify-content"> The Career Passport has the function of developing a professional perspective that can be extended globally, with the collaboration of companies, educational institutions, governmental and non-governmental entities, as well as international mobility providers.</p>
                       <p class="h6  justify-content"> During the events, our SMU students will have access to networking with our guests to get the information needed about the Tunisian ecosystem and to exchange new ideas for the reason to expand their vision in the future.</p>








                    <!-- Default form subscription -->

                  <!--Grid column-->

                <!--Grid row-->



              <!--Section: Content-->










          </div>
          <!--Grid column-->

          <!--Grid column-->







          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
<br>
<br>
<app-footer2></app-footer2>
