<app-header></app-header>

<!--Main Navigation-->
<header class="intro-header">


  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(assets/images/mission.jpg);background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="hello">
              <br>
              <h1 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>SMU INCUBATOR
                  </strong></h1>
              <hr class="hr-light  wow fadeInDown" data-wow-delay="0.7s">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<!-- ------------------------------------------------------------- -->



<!-- ---------------------------------------------------------------------------- -->

<div class="container mt-5">


  <!--Section: Content-->
  <section class="dark-grey-text">

  	<div class="card">
      <div class="card-body">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 mb-4">

                  <div class="list-group">
                    <ul class="list-group">
                      <li class="list-group-item orange darken-3 text-center">Career center</li>

                    </ul>

                    <button  routerLink="/home/mission" type="button" class="list-group-item list-group-item-action ">OUR MISSION</button>
                    <button  routerLink="/home/vision" type="button" class="list-group-item list-group-item-action ">OUR VISION</button>
                    <button routerLink="/home/students"  type="button" class="list-group-item list-group-item-action">STUDENTS</button>
                    <button routerLink="/home/alumni"  type="button" class="list-group-item list-group-item-action">ALUMNI</button>
                  </div>
                  <!--/.Card-->



                </div>
          <div class="col-lg-7  justify-content-left">


              <!--Section: Content-->


                <!--Grid row-->

                  <!--Grid column-->

                    <!-- Default form subscription -->

                       <p class="h6  justify-content">The SMU incubator is one of the Career & alumni Center entrepreneurial projects that exposes different aspects.</p>

                       <p class="h6  justify-content"> his initiative presents 13 projects, 13 presentations and 13 entrepreneurs, the candidates are among our MSB students/Alumni & externals presenting their projects in front of externals and staff members of Jury, held on the SMU Campus.</p>
                       <p class="h6  justify-content"> The different aspects of the SMU incubator are exposed into different workshops:</p>
                       <p class="h6  justify-content"> 1-The launch of the SMU incubator Experience event was held under the theme of “How to build strategy starting by its mission and vision” with our guest of honor “Sofien ben Chaabane”</p>
                       <p class="h6  justify-content"> 2- The workshop of Business Law & Partnership in Startup held by our Guest speakers:</p>
                       <ul>
                         <li>
                          Salah Dakhlaoui” Lawyer @ Dakhlaoui Partners
                         </li>
                         <li>Anis Chebbi & Ons Taj, Co-founders of CloudShift</li>
                       </ul>
                       <p class="h6  justify-content"> 3-The workshop of Mentor-Mentee Matchmaking with our corporate network proceeded by a training session facilitated by Tracy Olson.</p>
                      <p>4- Pitching event organized to our entrepreneurs to present their 2nd pitches in front of jury member composed of SMU alumni & Faculty and externals</p>
                      <ul>
                        <li>Salah Dakhlaoui, Lawyer @ Dakhlaoui Partners</li>
                        <li>Anis Chebbi & Ons Taj, Co-founders of CloudShift</li>
                        <li>Nadia Kallel, head of SMU foundatio</li>
                        <li>Hichem Kallel, Professor and Director of studies</li>
                        <li>Kais Zhioua, UPM alumni and Chief Strategy & Innovation at Clinique La Rose & Fertillia</li>
                      </ul>


                      <p class="h6  justify-content"> 5- A branding & position workshop held by our facilitators:</p>
                      <ul>
                        <li>Salma Ines Dhaou” Expert in Marketing & Communication”</li>
                        <li>Our Guest of Honor: Hosni Ghariani, CEO @ Ykone</li>
                      </ul>






                    <!-- Default form subscription -->

                  <!--Grid column-->

                <!--Grid row-->



              <!--Section: Content-->










          </div>
          <!--Grid column-->

          <!--Grid column-->







          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
<br>
<br>
<app-footer2></app-footer2>
