<app-header></app-header>

<!--Main Navigation-->
<header class="intro-header">


  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(assets/images/med.jpg);background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="text-center">
              <br>
              <h1 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Welcome to SMU Platform
                  </strong></h1>
              <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>“We are the compass for your professional future</strong></h5>
                <div class="ins">
                  <button  mat-raised-button  type="submit" routerLink="/auth/signup" *ngIf="!userIsAuthenticated" >REGISTER NOW</button >
                    <br>

                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
<app-info></app-info>
<app-footer></app-footer>
<!--Main Navigation-->
