<app-header></app-header>

<!--Main Navigation-->
<header class="intro-header">


  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(assets/images/china.jpg);background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="hello">
              <br>
              <h1 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>BUILDING PARTNERSHIPS
                  </strong></h1>
              <hr class="hr-light  wow fadeInDown" data-wow-delay="0.7s">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<!-- ------------------------------------------------------------- -->



<!-- ---------------------------------------------------------------------------- -->

<div class="container mt-5">


  <!--Section: Content-->
  <section class="dark-grey-text">

  	<div class="card">
      <div class="card-body">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 mb-4">

                  <div class="list-group">
                    <ul class="list-group">
                      <li class="list-group-item orange darken-3 text-center">Career center</li>

                    </ul>

                    <button  routerLink="/home/network" type="button" class="list-group-item list-group-item-action ">
                      CORPORATE NETWORK</button>
                    <button routerLink="/home/partnerships"  type="button" class="list-group-item list-group-item-action">BUILDING PARTNERSHIPS</button>
                    <button routerLink="/home/becoming-partners"  type="button" class="list-group-item list-group-item-action">BECOMING AN SMU PARTNER</button>
                  </div>
                  <!--/.Card-->



                </div>
          <div class="col-lg-7  justify-content-left">


              <!--Section: Content-->


                <!--Grid row-->

                  <!--Grid column-->

                    <!-- Default form subscription -->

                       <p class="h5  justify-content">

                        The SMU Career Center provides our partners with a wide range of benefits:</p>
                        <p class="  justify-content">Opportunities to advertise vacancies and reach out to our broad and diverse range of students and alumni, with different majors, degree levels, and varied career interests;

                        </p>
                       <p class="  justify-content">The possibility to schedule a privileged recruitment session for our corporate partners;

                      </p>
                      <p class="  justify-content">The opportunity to participate in various events throughout the year such as seminars, conferences, workshops, graduate events, etc.;</p>
                       <p class="  justify-content"> Our partners are welcomed to take an active part in some of the courses offered at SMU, as well as in our seminars and conferences, by sending guest speakers to mentor our students;</p>
                       <p class="  justify-content">The center can organize a project consulting team consisted of a pool of our talented students, and lead by one of our MBA students or faculty to collaborate with our partner employers;</p>

                      <p class="  justify-content">Our faculty can work on research projects funded by our corporate partners, and assist in their strategic decision making process;</p>
                      <p class="  justify-content">SMU is willing to collaborate with our partners on hosting their events at the university’s facilities, including logistics assistance;</p>
                      <p class="  justify-content">The center organizes company visits as part of program curricula to enhance student learning as well as branding for the company to attract future talents;</p>
                      <p class="  justify-content">The center conducts site visits during the internship period of our students at our corporate partners. The aim of these visits is to maintain and develop relationships with our partners, to assess market needs in order to adapt SMU educational offer to them, and to ensure the proper orientation and mentoring of our interns.</p>
<br>
<br>
                      <p class="h2 hello1">SMU PARTNERS</p>
                      <hr>
<img src="../assets/images/partnerk.PNG" class="text-center w-75">



                    <!-- Default form subscription -->

                  <!--Grid column-->

                <!--Grid row-->



              <!--Section: Content-->










          </div>
          <!--Grid column-->

          <!--Grid column-->







          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
<br>
<br>
<app-footer2></app-footer2>
