
<app-header></app-header>

<!-- ---------------------------------------------------------------------------------- -->


<!-- ------------------------------------------------------>
<div class="container my-5 py-5 z-depth-1">


  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-6">
        <img src="../assets/images/logo.png">

        <!-- Default form login -->
        <form class="text-center" action="#!">

          <p class="h4 mb-4">Reset password </p>
          <mat-spinner *ngIf="isLoading"></mat-spinner>

          <form (submit)="onVerify(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">


      <mat-form-field>
        <!-- badalt el type from string to text -->
        <input matInput name="newPassword" ngModel type="password" placeholder="enter new password" #newPasswordInput="ngModel" required newPassword>
        <!-- <mat-error *ngIf="tokenInput.invalid">Please paste your verified code here.</mat-error> -->
      </mat-form-field><br>
          <!-- Password -->
          <mat-form-field>
            <!-- badalt el type from string to text -->
            <input matInput name="confirmedPassword" ngModel type="password" placeholder="confirm new password" #confirmedPasswordInput="ngModel" required confirmedPassword>
            <!-- passwords should match  -->
            <mat-error *ngIf="loginForm.value.newPassword !== loginForm.value.confirmedPassword">Passwords do not match.</mat-error>
          </mat-form-field><br>

          <div class="error-msg" *ngIf="loginForm.value.confirmedPassword !== loginForm.value.newPassword">
            Passwords don't match.
          </div>

          <!-- Sign in button -->
          <button class="btn btn-info btn-block my-4" type="submit" >Reset Password</button>

        </form>

          <!-- Register -->


          <!-- Social login -->

        </form>
        <!-- Default form login -->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>



<app-footer></app-footer>
