<app-header></app-header>

<!--Main Navigation-->
<header class="intro-header">


  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(assets/images/china.jpg);background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="hello">
              <br>
              <h1 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>BECOMING AN SMU PARTNER
                  </strong></h1>
              <hr class="hr-light  wow fadeInDown" data-wow-delay="0.7s">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<!-- ------------------------------------------------------------- -->



<!-- ---------------------------------------------------------------------------- -->

<div class="container mt-5">


  <!--Section: Content-->
  <section class="dark-grey-text">

  	<div class="card">
      <div class="card-body">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 mb-4">

                  <div class="list-group">
                    <ul class="list-group">
                      <li class="list-group-item orange darken-3 text-center">Career center</li>

                    </ul>

                    <button  routerLink="/home/network" type="button" class="list-group-item list-group-item-action ">
                      CORPORATE NETWORK</button>
                    <button routerLink="/home/partnerships"  type="button" class="list-group-item list-group-item-action">BUILDING PARTNERSHIPS</button>
                    <button routerLink="/home/becoming-partners"  type="button" class="list-group-item list-group-item-action">BECOMING AN SMU PARTNER</button>
                  </div>
                  <!--/.Card-->



                </div>
          <div class="col-lg-7  justify-content-left">


              <!--Section: Content-->


                <!--Grid row-->

                  <!--Grid column-->

                    <!-- Default form subscription -->

                       <p class="h6  justify-content">

MSB-MedTech Career center collaborates closely with Corporate Partners among which:.</p>
                        <p class="  justify-content">SWICORP, EY, TAEF, UNOPS, DELOITTE, UNILEVER, COFICAB, ACCESS, …

                        </p>
                       <p class="h6  justify-content">MSB Career Center would be glad to assist you during your talent Acquisition process:

                      </p>
                      <p class="  justify-content">Share with MSB-MedTech your Job or Internship Opportunities?</p>
                       <p class="  justify-content"> Real Business Case Studies?</p>
                       <p class="  justify-content"> Please send your request to the careercenter@smu.tn</p>








                    <!-- Default form subscription -->

                  <!--Grid column-->

                <!--Grid row-->



              <!--Section: Content-->










          </div>
          <!--Grid column-->

          <!--Grid column-->







          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
<br>
<br>
<app-footer2></app-footer2>
