<app-header></app-header>

<!-- ------------------------------------------------------>
<div class="container my-5 py-5 z-depth-1">


  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-6">

        <!-- Default form login -->
        <form class="text-center" action="#!">
          <img src="../assets/images/logo.png">

          <p class="h5 mb-3"> Please verify your email for the link to reset your password. If you don't receive an email please try again or feel free to contact us</p>







          <!-- Sign in button -->

        </form>

          <!-- Register -->


          <!-- Social login -->

        <!-- Default form login -->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>



<app-footer></app-footer>
