<app-header></app-header>

<!--Main Navigation-->
<header class="intro-header">


  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(assets/images/mission.jpg);background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-12">
            <div class="hello">
              <br>
              <h1 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>JOB FAIR
                  </strong></h1>
              <hr class="hr-light  wow fadeInDown" data-wow-delay="0.7s">


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<!-- ------------------------------------------------------------- -->



<!-- ---------------------------------------------------------------------------- -->

<div class="container mt-5">


  <!--Section: Content-->
  <section class="dark-grey-text">

  	<div class="card">
      <div class="card-body">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 mb-4">

                  <div class="list-group">
                    <ul class="list-group">
                      <li class="list-group-item orange darken-3 text-center">Career center</li>

                    </ul>

                    <button  routerLink="/home/mission" type="button" class="list-group-item list-group-item-action ">OUR MISSION</button>
                    <button  routerLink="/home/vision" type="button" class="list-group-item list-group-item-action ">OUR VISION</button>
                    <button routerLink="/home/students"  type="button" class="list-group-item list-group-item-action">STUDENTS</button>
                    <button routerLink="/home/alumni"  type="button" class="list-group-item list-group-item-action">ALUMNI</button>
                  </div>
                  <!--/.Card-->



                </div>
          <div class="col-lg-7  justify-content-left">


              <!--Section: Content-->


                <!--Grid row-->

                  <!--Grid column-->

                    <!-- Default form subscription -->

                       <p class="h6  justify-content">The CAREER AND ALUMNI CENTER organized the Annual Job Fair event that our MSB/MedTech students, our Alumni and externals are encouraged to attend since it represents a unique opportunity for exposure to job/internship offers, to build a professional network and be up to date with the market trends.</p>

                       <p class="h6  justify-content"> In order to guarantee the success of our event, The CAREER AND ALUMNI CENTER collaborate with student life team as they do the external communication about the event in public and private universities (Flyers & posters) deliver some flyers and also in coordination with the COM department using all different means of communication to promote the event in the Tunisian ecosystem (Social media & external and internal communication).</p>
                       <p class="h6  justify-content"> During 2019, the 5th edition of the annual job fair took place at MSB-MedTech campus on January 31st under the theme of “Companies of the Future”, at the same year, we decided to organize a second Job Fair in 2019 following the survey’s results carried out during the 5th edition. Thus, the 6th edition was held on November 5th under the theme of “Co-creation.</p>
                       <p class="h6  justify-content"> The job fair has the following objectives:</p>
                       <ul>
                         <li>To promote the SMU image and our new platform DEMOLA in collaboration with express FM broadcasted live on our campus.</li>
                         <li>Allow internal participants (MSB/MedTech students) and external (Public and private Universities) to explore career opportunities within a variety of companies at one location to get them integrated into the job market</li>
                        <li>To organize workshops before D-Day and workshops during the D-Day to enhance the skills of our participants</li>
                        <li>To Increase the visibility of our ecosystem on the students’ competencies and programs of SMU (MSB/MedTech)</li>
                        <li>To create a dynamic exchange between recruiter and SMU students or SMU Alumni and Job seekers</li>
                        <li>Give the chance to SMU clubs (21) to recruit more SMU members, with exposing the aim of each club which maybe correspond to the students’ need.</li>
                        </ul>
                        <p>The recruiters:</p>
                        <ul>
                          <li>Provide an opportunity to introduce themselves to internal and external students and alumni</li>
                         <li>Develop their company branding</li>
                         <li>identify potential candidates and recruit their future employees (PFE internship/internship)</li>
                         <li>Promoting their services on and out of campus</li>
                         <li>Get familiar with the SMU identity.</li>
                         <li>Networking with other companies</li>
                         <li>Discover a new opportunity of collaboration with SMU</li>

                         <li>Develop their network and knowledge of the corporate world</li>
                         <li>Get prepared before D-day by participating in the workshops of career starter day</li>
                         <li>Experience real interviews and practice their elevator pitch</li>
                         <li>Showcase their skills and competencies to recruiters</li>
                         <li>Expand their network</li>
                         <li>Have internship and employment opportunities</li>
                         <li>Open the horizon of entrepreneurship (Startup space exp Carthage business angels</li>
                         <li>Give the students the opportunity to participate in the organization of job fair (Evey, CAC actions, COM support)</li>
                         <li>Attend conferences and participate in debates about Co-creation.</li>
                         <li>Discover SMU Associations and the opportunity to integrate them.</li>

                         </ul>

                         <p>During the D-day of the 5th edition of the annual job fair, the career starter day workshops took place before the D-day and a number of workshops took place during the whole day and a total of 27 companies participated in this edition, in addition we have registered 475 participants checked in on the D-day; (29% External students, 10% External Graduates, 4% MSB Alumni, 38% MSB students, 17% MedTech Students and 2% entrepreneurs). This job fair was sponsored by Nestle offering to all participants its different products (Coffee, cappuccino….).</p>





                    <!-- Default form subscription -->

                  <!--Grid column-->

                <!--Grid row-->



              <!--Section: Content-->










          </div>
          <!--Grid column-->

          <!--Grid column-->







          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
<br>
<br>
<app-footer2></app-footer2>
