.view img{
  width: 600px;
   height: 250px;
}
img{
 // width: 180px;
 // height: 160px;
}

.view2 img{
  width: 390px;
  height: 250px;
}
.view4 img{
  width: 1110px;
   height: 600px;
}

.avatar img {
  width: 200px;
  height: 200px;

}

.view3 img{
  width: 1110px;
   height: 400px;
}
