
<!-- ------------------------------------------------------------------------ -->




<!-- ------------------------------------------------------>
<div class="container my-5 py-5 z-depth-1">


  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-6">
        <img src="../assets/images/logo.png">

        <!-- Default form login -->
        <form class="text-center" action="#!">

          <p class="h4 mb-4"> Reset Password</p>
          <mat-spinner *ngIf="isLoading"></mat-spinner>

          <form (submit)="onVerify(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
            <mat-form-field>
              <!-- badalt el type from string to text -->
              <input matInput name="email" ngModel type="text" placeholder="enter your E-mail" #emailInput="ngModel" required email>
              <!-- <mat-error *ngIf="tokenInput.invalid">Please paste your verified code here.</mat-error> -->
            </mat-form-field>




          <!-- Sign in button -->
          <button class="btn btn-info btn-block my-4" type="submit" >Send password reset E-mail</button>
          <span>
            you don't have an account?
            <a [routerLink]="['/auth/signup']">register now</a>
          </span>
        </form>

          <!-- Register -->


          <!-- Social login -->

        </form>
        <!-- Default form login -->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->


</div>



<app-footer></app-footer>
